@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

/*Animations*/

@keyframes button-click {
    0% {
      letter-spacing: 1px;
    }
    20% {
      letter-spacing: 2px;
    }
    40% {
      letter-spacing: 3px;
    }
    60% {
      letter-spacing: 3px;
    }
    80% {
      letter-spacing: 2px;
    }
    100% {
      letter-spacing: 1px;
    }
}
  
@keyframes fadein {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.2;
    }
    40% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.6;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
}
  
a{
    user-select: none;
}

  /*Getting the font and margins setup*/
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  animation: 1.5s ease-in 0s 1 fadein ;
  scroll-behavior: smooth;
}



body{
  background-color: #43125e;
}
/*Background*/
img#main-backround{
  filter: blur(80px);
  scale: 175%;
  translate: -50px -50px;
  overflow: hidden;
  position: fixed;
  z-index: -99;
  mix-blend-mode: color;
  animation: 3s ease-in 0s 1 fadein ;
}
 /*Navigation Bar*/
nav{
  user-select: none;
  display: inline-block;
  width: 100%;
  z-index: -1; 
  animation: 1.5s ease-in 0s 1 fadein ;
  background: none;
}

nav li{
float: right;

}
nav ul li{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
margin-top: 15px;
margin-right: 25px;
}

nav ul li a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
opacity: 0.9;
font-size: 16px;
}


#logo{
float: left;
position: absolute;
text-transform: uppercase;
opacity: 0.6;
font-size: 48px;
color: #fff;
margin-left: 25px;
margin-top: 15px;

}
/*Nav bar Animations*/

#navbar-files-button:hover{
    scale: 100%;
    transition-duration: 0.5s;
    padding: 14px 16px;
    letter-spacing: 2px;
}

#navbar-files-button:active{
    animation: 4s ease-in 0s 1 button-click ;
    

}

#navbar-projects-button:hover{
    scale: 100%;
    transition-duration: 0.5s;
    padding: 14px 16px;
    letter-spacing: 2px;
}

#navbar-projects-button:active{
    animation: 4s ease-in 0s 1 button-click ;
    

}


#Inbox:hover{
scale: 100%;
transition-duration: 0.5s;
padding: 14px 16px;
letter-spacing: 2px;
}

#Inbox:active{
animation: 4s ease-in 0s 1 button-click ;

}

#showcase{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79.74481658692186vh;
  width: 100%;
  overflow: hidden;
}

.card {
  margin: auto;
  text-align: center;
  min-width:  126.59170653907496vh;
  height: 85%;
  min-height: 66.79585326953748vh;
  width: 75%;
  background-color: rgba(194, 194, 194, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;

}
.card-content h2{
  left: 7.974481658692185vh;
  top:  7.974481658692185vh;
  position: absolute;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.card-content p{
  position: absolute;
  text-align: center;
  top: 15.94896331738437vh;
  left: 4.784688995215311vh;
  padding:  5.582137161084529vh 7.974481658692185vh;
  font-size: 20px;
}

button {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
  bottom:  3.189792663476874vh;
  right:  3.189792663476874vh;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #2E0249;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #2E0249;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.bold{
  font-weight: 600;
  color: #2E0249;
  font-size: inherit;
}
